h1 {
    text-align: center;
    text-rendering: auto;
    background-color: rgb(2, 0, 97);
    color: rgb(255, 255, 255);
    border: 10px solid black;
    margin: 20px;
    padding: 1px;
    

}

h2 {
    color: mediumorchid;
}

p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: sans-serif;
}

p2 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

p3 {
  text-align: center;
    text-rendering: auto;
    background-color: rgb(2, 0, 97);
    color: rgb(255, 255, 255);
    border: 5px solid black;
  margin: 20px;
  padding: 20px;
  font-size: 40px;

}

p4 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}

h3 {
    color: rgb(2, 0, 97);

}
h4 {
    color: rgb(10, 216, 61);

}

h5 {
  border: 2px solid rgb(255, 255, 255);

}

/*  identify div   */
div {
    color: rgb(211, 125, 85);
}
/*  identify div CLASS   */

.Menu {
  color: rgb(126, 57, 57);
  font-family: fantasy;
  
}


.info {
    color: rgb(255, 255, 255);
    font-family: fantasy;
    text-align: center;
    size: ;
    text-rendering: auto;
    background-color: rgba(2, 0, 97);
    color: rgb(255, 255, 255);
    border: 5px solid black;
  margin: 20px;
  padding: 20px;
  font-size: 40px;    
}

.box {
  color: rgb(0, 0, 0);
  font-family: fantasy;
  text-align: center;
  size: 50;
  text-rendering: auto;
  background-color: rgb(2, 0, 97);
  color: rgb(255, 255, 255);
  border: 5px solid rgb(0, 0, 0);
margin: 0px;
padding: 0px;
font-size: 40px;    
}

.box2 {
  color: rgb(0, 0, 0);
  overflow: auto;
}

.boxW {
  color: rgb(0, 0, 0);
  font-family: fantasy;
  text-align: center;
  size: ;
  text-rendering: auto;
  background-color: rgba(255, 255, 255, 0.459);
  color: rgb(0, 0, 0);
  border: 5px solid black;
margin: 20px;
padding: 20px;
font-size: 40px;    
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/*  identify div ID   */
#home{
    color: green;
}

body {
	margin: 0;
  background-image: linear-gradient(rgb(0, 0, 0),rgb(0, 0, 73));
  height: 900px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row2 {margin: 0 200px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #0a06eb5b;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 260px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: rgb(150, 150, 150);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(0, 60, 255);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


    